---
layout: default
---
<div id="gridid" class="col-sm-8 col-xs-12">
  {{ content }}
</div>

<div id="gridid" class="col-sm-4 col-xs-12">
  <style>.jumbotron{
    padding:3%;
    padding-bottom:10px;
    padding-top:10px;
    margin-top:10px;
    margin-bottom:30px;
}
</style>
<div class="jumbotron">
<h4> Front Covers </h4>
<img src='{{ site.url }}{{ site.baseurl }}/images/langmuir2026.png' 
  class="img-fluid mt-3" alt='{{ langmuir2026 }}'/>

<img src='{{ site.url }}{{ site.baseurl }}/images/epjp2024.png' 
  class="img-fluid mt-4" alt='{{ epjp2024 }}'/>
</div>
</div>